body,
html {
  background-color: #121212;
  color: white;
}
.container {
  display: flex;
  justify-content: center;
}

.back {
  background-color: #f6f6f3;
  width: 450px;
  height: 800px;
  border-radius: 50px;
  border: 5px solid #9a9a9a;
}
.camera-container {
  background-color: #e2e2e0;
  border: 1px solid #b8b9b6;
  position: relative;
  left: 15px;
  top: 15px;
  border-radius: 50px;
  height: 220px;
  width: 220px;
  -webkit-box-shadow: 5px 5px 10px 7px #d5d5d0;
  box-shadow: 5px 5px 10px 7px #d5d5d0;
}
.camera {
  background: rgb(82, 83, 80);
  background: linear-gradient(
    90deg,
    rgba(82, 83, 80, 1) 0%,
    rgba(235, 236, 233, 1) 100%
  );
  width: 90px;
  height: 90px;
  border-radius: 50%;
  position: absolute;
}

.camera-a {
  top: 10px;
  left: 10px;
}
.camera-b {
  bottom: 10px;
  left: 10px;
}

.camera-c {
  right: 10px;
  top: 62px;
}
.camera-frame {
  position: absolute;
  background-color: #131d24;
  inset: 0;
  margin: auto;
  border-radius: 50%;
  width: 70px;
  height: 70px;
}
.logo-container {
  position: relative;
  top: 70px;
  margin: auto;
  width: 150px;
  height: 150px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Apple-logo.png/600px-Apple-logo.png');
  background-size: contain;
}

/* front device */
.front {
  background-color: black;
  border: 5px solid #9a9a9a;
  width: 450px;
  height: 800px;
  border-radius: 50px;
}

.display {
  background-color: blue;
  border-radius: 50px;
  width: 425px;
  height: 780px;
  position: relative;
  top: 10px;
  margin: auto;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3g8cug9pteIFBaotE_NKCi3UATU4QRrUVWg&usqp=CAU');
  background-size: cover;
  background-position: center;
}

.camera-front {
  background-color: black;
  position: relative;
  top: 0;
  left: 112.5px;
  width: 200px;
  height: 35px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
